<!DOCTYPE html>
<html>
<head>
  <title><%= "#{@track.name}" %></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
</head>
<body>
  <div id="map" style="width: 800px; height: 800px"></div>

  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <script>
    var track = [
        <% for @point in @track.points %>
          <%= "L.latLng(#{@point.lat}, #{@point.lon})," %>
        <% end %>
    ]

    var map = L.map('map');

    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 18,
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
    }).addTo(map);

    var polyline = L.polyline(track, {color: 'red'}).addTo(map);

    map.fitBounds(polyline);
  </script>
</body>
</html>
